portal_urls_test.txt
portal_urls copy.txt
geckodriver.log
.Rhistory
portal_articles copy.csv
portal_urls copy 2.txt
portal_urls_BACKUP.txt
portal_urls_BACKUP_edited_with_30-25.txt
portal_urls_30-25.txt
portal_urls.txt
portal_log.txt
portal_articles.json
portal_articles.csv
output/portal_articles_month.csv
output/portal_articles_day.csv
output/portal_articles_covid.csv
output/portal_articles_category.csv
backup/portal_articles_day.csv
backup/portal_articles_covid.csv
backup/portal_articles_category.csv
backup/portal_article_logger.txt
output/portal_article_logger.txt
portal_article_logger.txt
csv_viewer.R
csv_to_json.py
output/word_frequencies/word_frequency_1.csv
output/word_frequencies/word_frequency_2.csv
output/word_frequencies/word_frequency_3.csv
output/word_frequencies/word_frequency_4.csv
output/word_frequencies/word_frequency_5.csv
output/word_frequencies/word_frequency_6.csv
output/word_frequencies/word_frequency_7.csv
output/word_frequencies/word_frequency_8.csv
output/word_frequencies/word_frequency_9.csv
output/word_frequencies/word_frequency_10.csv
output/word_frequencies/word_frequency_11.csv
output/word_frequencies/word_frequency.csv
output/word_frequencies/jaccard_index.csv
output/tables_categorized/portal_articles_month.csv
output/tables_categorized/portal_articles_day.csv
output/tables_categorized/portal_articles_category.csv
output/discourse_csv/portal_covid_isolated.csv
output/discourse_csv/portal_covid_clean.csv
